

.container {
  display:flex;
  position: relative; /* Relative positioning for the container */
  width: 80%;       /* Size of the board */
  height: 850px;
  border: 5px solid #000; /* Optional: Border for the board */
}
.board {
  position: relative; /* Relative positioning for the tiles */
  width: 800px;  /* Width of the board */
  height: 800px; /* Height of the board */
  border: 5px solid #000000;
  background-color: #f4f4f4;
  margin: 3px;
  padding: 5px;
}
.player-avatar-container {
  display: flex; 
  left: 820px;        /* Position to the right of the board (board width + 10px gap) */
  width: 600px;       /* Width of the player avatar container */
  height: 100px;      /* Height of the player avatar container */
  border: 5px solid #000000; /* Optional: Border for the player avatar container */
  background-color: #f9f9f9; /* Optional: Background color for the player avatar container */
  margin-left: 10px;
  margin-top: 10px;  /* Optional: Margin to the left of the player avatar container */
}